.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 990px;
  padding-left: 10px;
  padding-right: 10px;

  .content-container {
    align-self: center;
    background:
      linear-gradient(10deg, transparent 0% calc(100% - 45px), $pink calc(100% - 45px) 100%);
    background-color: rgba($white, $body-transparency);
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex: 2;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 640px;
    min-width: 300px;
    padding: 10px;

    img {
        display: block;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .page-header {
      border-bottom: solid 4px $blue;
      font-family: 'Fira Code', cursive;
      margin: 5px;
    }

    .post-preview {
      background-color: rgba($white, $container-transparency);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      justify-content: space-between;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 10px;
      text-align: justify;

      .post-footer {
        display: flex;
        justify-content: space-between;

        .category-container {
          display: flex;
          justify-content: flex-start;
        }

        .category {
          background-color: $blue;
          border-radius: 5px;
          color: $black;
          font-weight: bold;
          margin: 5px;
          margin-bottom: 10px;
          padding: 10px 20px 10px 20px;
          text-align: center;
          transition: $tlink-speed;
          vertical-align: text-bottom;
        }

        .read-more {
          margin: 5px;
          margin-bottom: 10px;
          margin-right: -10px;
          background-color: $pink;
          border-radius: 5px 0px 0px 5px;
          color: $black;
          font-weight: bold;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
          transition: $tlink-speed;
        }

        .read-more:hover {
          color: $white;
          transition: $tlink-speed;
        }
      }


      h1 {
        border-left: 5px solid $blue;
        padding-left: 5px;
      }

      h2 {
        border-left: 5px solid $blue;
        padding-left: 5px;
      }

      .title {
        margin: 0px;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 0px;

        a {
          background-color: $blue;
          color: $black;
          display: block;
          padding: 8px;
          text-decoration: none;
          transition: $tlink-speed;
        }

        a:hover {
          color: $white;
          transition: $tlink-speed;
        }
      }

      .subtitle {
        background-color: $pink;
        color: black;
        display: block;
        padding: 3px;
        padding-left: 15px;
        margin: 0px;
        margin-top: 0px;
        margin-left: -10px;
        margin-right: -10px;
        text-decoration: none;
        transition: $tlink-speed;
      }

      .category {
        background-color: #f8e8f0;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;

        a {
          color: $black;
          text-decoration: none;
        }

        a:hover {
          color: $white;
          transition: $tlink-speed;
        }
      }

      .category:empty {
        display: none;
      }

      .listing {
        border-left: solid 10px $blue;
        font-size: 1.2em;
        margin: 0px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 2px;
        padding-left: 0px;

        a {
          background-color: $pink;
          color: black;
          display: block;
          padding: 8px;
          text-decoration: none;
          transition: $tlink-speed;
        }

        a:hover {
          color: $white;
          transition: $tlink-speed;
        }
      }
    }
  }

  .side-nav {
    align-self: stretch;
    background:
      linear-gradient(150deg, $blue 0% 90px, transparent 90px 100%);
    background-color: rgba($white, $body-transparency);
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex: 1;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 150px;
    padding: 10px;
    vertical-align: top;

    .section-container {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;

      .section-header {
        background-color: $pink;
        display: block;
        font-family: 'Fira Code', cursive;
        margin: 0px;
        margin-bottom: 5px;
        margin-left: -5px;
        margin-right: -5px;
        margin-top: -5px;
        padding: 2px;
        text-align: center;
      }

      .section-button {
        background-color: $pink;
        display: block;
        font-family: 'Fira Code', cursive;
        margin: 0px;
        margin-bottom: -5px;
        margin-left: -5px;
        margin-right: -5px;
        margin-top: -5px;
        padding: 2px;
        text-align: center;

        a {
          color: $black;
          display: block;
          text-decoration: none;
          transition: $tlink-speed;
        }

        a:hover {
          color: $black;
          transition: $tlink-speed;
          filter: invert(100%);
        }

        img {
          vertical-align: middle;
        }
      }

      .social-media-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        i {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      .link-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        a {
          background-color: $blue;
          border-radius: 5px;
          color: black;
          display: block;
          font-size: 1.4em;
          font-weight: bold;
          margin: 5px;
          margin-left: 10px;
          margin-right: 10px;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          text-decoration: none;
          text-align: center;
          transition: $tlink-speed;
        }

        a:hover {
          color: $white;
          transition: $tlink-speed;
        }

        img {
          width: 100%;
        }
      }
    }

  }
}
