.nav-container {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 990px;
  min-width: 330px;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0px;
}

.top-nav {
  background: linear-gradient(45deg, transparent 0% 75%, $pink 75% 100%);
  background-color: rgba($white, $body-transparency);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Fira Code';
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;

  .nav-link {
    background-color: rgba($blue, $container-transparency);
    border-radius: 3px;
    color: $black;
    font-size: 1.3em;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: $tlink-speed;
  }

  .nav-link:hover {
    color: $white;
    transition: $tlink-speed;
  }

  .title-link {
    text-decoration: none;
  }

  .title {
    background-color: $pink;
    border-radius: 3px;
    color: $black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .title:hover {
    color: $white;
    transition: $tlink-speed;
  }

  @media (max-width: 515px) {
    a {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.progress-container {
  background: $pink;
  box-shadow: 0 2px 2px rgba(0,0,0,0.12), 0 3px 1px rgba(0,0,0,0.24);
  height: 8px;
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  top: 0px;
}

.progress-bar {
  height: 8px;
  background: $blue;
  width: 0%;
}

::-webkit-scrollbar-track {
  border-bottom-right-radius: 5px;
  background-color: #efc4db;
}

::-webkit-scrollbar {
  display: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(210deg, #69bd71, #5cc3ca, #5cc3ca, #8950b1);
  border-radius: 5px;
}
