<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} {% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="nav-container">
      <nav class="top-nav">
        <a class="title-link" href="/"><h1 class="title">Gale Proulx</h1></a>
        <a class="nav-link" href="/library">Blog Posts</a>
        <a class="nav-link" href="/about">About</a>
      </nav>
      <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
      </div>
    </div>

    <script>
      window.onscroll = function() {myFunction()};

      function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("progress-bar").style.width = scrolled + "%";
      }
    </script>


    <div class="body-container">
      <div class="content-container">
        {{ content }}
      </div>

      <div class="side-nav">
        <div class="section-container">
          <h2 class="section-header">Gale Proulx</h2>
          <div class="link-container">
            <img src="/images/email_portrait.jpg">
            <p>Data science professional, amateur writer, and ethics enthusiast. For code, check my GitHub! For work history, look at my awesome LinkedIn page!</p>
          </div>
        </div>
        <div class="section-container">
          <h2 class="section-button"><a class="nav-link" href="/search">Search <img src="/svg-icons/search.svg" alt="Search Icon"></img></a></h2>
        </div>
        <div class="section-container">
          <h2 class="section-header">Categories</h2>
          <div class="link-container">
            <a href="/Capstone">Capstone</a>
            <a href="/Personal_Writing">Personal Writing</a>
          </div>
        </div>
        <div class="section-container">
          <h2 class="section-header">Social Media</h2>
          <div class="social-media-container">{% include svg-icons.html %}</div>
        </div>
        <div class="section-container">
          <h2 class="section-button"><a class="nav-link" href="/privacy/">Privacy Policy</a></h2>
        </div>

      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
